*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.main__btn {
  border: none;
  background-color: #2d6cca;
  color: #fff;
  border-radius: 1rem;
  padding: .5rem 1rem;
  cursor: pointer;
  margin: .5rem 0;
  transition: background-color 0.3s ease;
}

.main__btn:hover {
  background-color: #4480d9;
}

/* Модальные окна */
.modal {
  display: none;
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(.25rem);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.open {
  display: flex;
}

.modal__content {
  background-color: #fff;
  padding: 1rem;
  border-radius: .75rem;
  max-width: 600px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

/* Аккордеоны */
.accordion__container {
  margin: 2rem 0;
}

.accordion__block {
  border: 1px solid #000;
  margin-bottom: .25rem;
  border-radius: .5rem;
  overflow: hidden;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  background: #eee;
  transition: background 0.3s ease;
}

.accordion__header:hover {
  background-color: #ddd;
}

.accordion__title {
  cursor: pointer;
}

.accordion__header img {
  transition: transform 0.33s ease-in-out;
}

.accordion__block[accordion-state="open"] .accordion__header img {
  transform: rotate(180deg);
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 .5rem;
}

.accordion__block[accordion-state="open"] .accordion__content {
  padding: .5rem;
}
