button{
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.btn {
    padding: 7px 15px;
}

.btn.btn_main{
    color: #ffffff;
    background-color: #0393fb;
    border-radius: 5px;
    transition: all .33s ease-in-out;
}
.btn.btn_main:hover{
    background-color: #34a6f8;
}