
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #13020b;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-bottom: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    background-color: rgb(219, 216, 231);
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px; 
}

@media screen and (min-width: 600px) {
    .column {
        float: left; 
        width: 33.33% 
        padding: 20px;
        margin-bottom: 0; 
    }

    .column:nth-child(2) {
        
        margin-left: 1%;
        margin-right: 1%;
        width: 31.33%; 
    }

    .row {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
     header h1 {
        font-size: 3rem;
    }

    body {
        background-color: #e9e9e9; 
    }
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: rgb(112, 86, 86);
    clear: both;
}